<!DOCTYPE html>
<style> 
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<h1>You are Admin</h1>
<% if(error) {%>
    <p style="color: red;"><%= error %></p>
<%}%>
<% if(info) {%>
    <p style="color: green;"><%= info %></p>
<%}%>
<h2>Departments</h2>
<div>
    <% if(departments.length > 0) { %>
        <% for(let dep of departments) { %>
            <p> <a href="/admin/department/<%= dep._id %>"><%= dep.name %></a></p>
        <%}%>
    <%} else {%>
        <p>No Departments in System</p>  
    <%}%>
    <button onclick="openModel('#addDep')">Add Department</button>

</div>
<hr>
<h2>HODs</h2>
<div>
    <% if(hods.length > 0) { %>
        <% for(let hod of hods) { %>
            <p><%= hod.name %></p>
        <%}%>
    <%} else {%>
        <p>No Hods in System</p>  
    <%}%>
    <button onclick="openModel('#addHODs')">Add Head of Department</button>
</div>
<hr>
<h2>Semester</h2>
<div>
    <% if(semesters.length > 0) { %>
        <% for(let sem of semesters) { %>
            <p><%= sem.name %></p>
        <%}%>
    <%} else {%>
        <p>No Semester in System</p>  
    <%}%>
    <button onclick="openModel('#addSem')">Add Semester</button>
</div>
<hr>
<h2>Section</h2>
<div>
    <% if(sections.length > 0) { %>
        <% for(let sec of sections) { %>
            <p><%= sec.name %></p>
        <%}%>
    <%} else {%>
        <p>No Section in System</p>  
    <%}%>
    <button onclick="openModel('#addSec')">Add Section</button>
</div>
<hr>
<h2>User Type</h2>
<p style="color: red;">Deprecated</p>
<div>
    <% if(userTypes.length > 0) { %>
        <% for(let userType of userTypes) { %>
            <p><%= userType.name %></p>
        <%}%>
    <%} else {%>
        <p>No User Type in System</p>  
    <%}%>
    <button onclick="openModel('#addUserType')">Add User Type</button>
</div>
<hr>
<hr>
<a href="/admin/verifyStudents">Verify New Users</a>

<div id="addDep" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/admin/department" method="POST">
            <div>
                <label for="name">Dep. Name</label>
                <input type="text" name="name" id=""/>
            </div>
            <div>
                <label for="id">Dep. id</label>
                <input type="text" name="id" id=""/>
            </div>
            <div>
                <label for="hod">Select HOD</label>
                <select name="hod" id="">
                    <% if(hods.length > 0) { %>
                        <% for(let hod of hods) { %>
                            <option value="<%= hod._id %>"><%= hod.name %></option>
                        <%}%>
                    <%} else {%>
                        <p>No Hods in System</p>  
                    <%}%>
                </select>
            </div>
            <button type="submit">Add Department</button>
        </form>
    </div>
</div>

<div id="addHODs" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/admin/addHOD" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id=""/>
            </div>
            <div>
                <label for="name">Email</label>
                <input type="email" name="email" id=""/>
            </div>
            <div>
                <label for="name">Password</label>
                <input type="password" name="password" id=""/>
            </div>
            <button type="submit">Add HOD</button>
        </form>
    </div>
</div>

<div id="addSem" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/admin/semester" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id=""/>
            </div>
            <div>
                <label for="number">Number</label>
                <input type="text" name="number" id=""/>
            </div>
            <button type="submit">Add Semester</button>
        </form>
    </div>
</div>

<div id="addSec" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/admin/section" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id=""/>
            </div>
            <div>
                <label for="id">id</label>
                <input type="text" name="id" id=""/>
            </div>
            <button type="submit">Add Section</button>
        </form>
    </div>
</div>

<div id="addUserType" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/admin/userType" method="POST">
            <p style="color: red;">Deprecated</p>
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id=""/>
            </div>
            <div>
                <label for="id">id</label>
                <input type="text" name="id" id=""/>
            </div>
            <button type="submit">Add User Type</button>
        </form>
    </div>
</div>


    

<script>
    openModel = function(amodel) {
        var modal = document.querySelector(amodel);
        let closeBtn = amodel + " .close"
        var span = document.querySelector(closeBtn);
        modal.style.display = "block";

        span.onclick = function() {
            modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
</script>