<main>
    <%= user.name %></br>
    <%= user.email %>
    <% if(showEdit){%>
        <div>
            <a href="/me/edit">Edit</a>
        </div>
    <%}%>
    <% if(edit) { %>
        <form action="/me" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="" value="<%= user.name %>">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="" value="<%= user.email %>">
            </div>
            <div>
                <label for="userName">UserName</label>
                <input type="text" name="userName" value="<%= user.userName %>">
            </div>

            <button type="submit">Update</button>
        </form>
    <% } %>

    <% if(isAuth && !edit) { %>
        <% if(user.posts.length > 0){ %>
            <% for (let post of user.posts) { %>
                <div>
                    <b>At: <%= post.date %></b>
                    <p><%= post.content %></p>
                </div>
            <% } %>
        <% } %>
    <% } %>

    <% if(!isAuth){%>
        <div>
            <p><a href="/login">Login</a> to view post shared</p>
        </div>    
    <%}%>
</main>