<% if(error) {%>
    <p style="color: red;"><%= error %></p>
<%}%>
<% if(info) {%>
    <p style="color: green;"><%= info %></p>
<%}%>
<h2>Unverified Students</h2>
<div>
    <% if(students.length > 0) { %>
        <% for(let student of students) { %>
            <p>Student Name: <b><%= student.name %></b></p>
            Verification Images:
           <br>
            <% for(let image of student.verificationImages) { %>
                <img src="/<%= image %>" alt="">
            <%}%>
            <a href="/admin/verifyStudent/<%= student._id %>"><button>Verify</button></a>
            <hr>
        <%}%>
    <%} else {%>
        <p>No Students to Verify in System</p>  
    <%}%>
</div>